<section class="login-sec">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-one-third">
        <div class="box">
          <h1 class="title has-text-centered">Login</h1>
          <form>
            <div class="field">
              <label class="label">Username</label>
              <div class="control">
                <input class="input" type="text" placeholder="Your username">
              </div>
            </div>
            <div class="field">
              <label class="label">Password</label>
              <div class="control">
                <input class="input" type="password" placeholder="Your password">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <button class="button is-primary is-fullwidth">Login</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>